.form {
  height: 380px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

.form__error-text {
  display: none;
  margin: 0;
  color: #EE3465;
  font-family: Inter, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__error-text_visible {
  display: block;
}

@media screen and (max-width: 420px) {
  .form {
    height: 468px;
    margin-bottom: 14px;
  }
}