.techs {
  padding: 100px 70px;
  background-color: #272727;
}

.techs__title {
  margin: 0;
  margin-bottom: 90px;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  color: #FFF;
  font-family: Inter, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.techs__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.techs__subtitle {
  margin: 0;
  margin-bottom: 26px;
  color: #FFF;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.techs__text {
  margin: 0;
  margin-bottom: 100px;
  max-width: 460px;
  color: #FFF;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.techs__items {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.techs__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #303030;
  color: #FFF;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px;
  }
  .techs__title {
    margin-bottom: 80px;
  }
  .techs__subtitle {
    margin-bottom: 22px;
  }
  .techs__text {
    margin-bottom: 83px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }
  .techs__items {
    flex-wrap: wrap;
  }
  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 450px) {
  .techs {
    padding: 70px 18px;
    background-color: transparent;
  }
  .techs__title {
    margin-bottom: 60px;
    padding-bottom: 28px;
    border-bottom: 1px solid #000;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
  .techs__subtitle {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  .techs__text {
    margin-bottom: 50px;
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }
  .techs__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 178px;
  }
}